// A

// B

// C

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R
%remove-appearance{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
}

// S

// T

// W

// X

// Y

// Z

