// First title
%title-1{
    display: block;
}

// Second title
%title-2{
    display: block;
}

// Third title
%title-3{
    display: block;
}

// Fourth title
%title-4{
    display: block;
}

// Last title
%title-5{
    display: block;
}
