.header{
  width: 100%;
  height: auto;
  color: $white;
  background-color: $black-default;

  // header top area
  .header-top-area{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-top-area-left-area{
      display: flex;
      align-items: center;

      .logo{
        width: rem-calc(133px);
        height: auto;
      }

      .input-search-component{
        margin-left: rem-calc(59px);
        width: rem-calc(544px);
        border-bottom-color: $white;

        @include tabletLandscape{
          width: rem-calc(300px);
        }

        @include tabletPortrait{
          display: none;
        }
      }
    }

    .header-top-area-right-area{
      display: flex;
      align-items: center;

      .user-data{
        display: flex;
        flex-direction: column;
        text-align: right;

        .user-data-fullname{
          font-weight: bold;
        }

        .user-data-role{
          margin-top: 5px;
          font-size: 12px;
        }

      }

      .photo-container{
        margin-left: 8px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $white;
        background-size: cover;
        background-position: center center;
      }

    }



  }

  // header bottom area
  .header-bottom-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

}