.btn{
    font-size: 16px;

    padding: 5px 30px;

    border-radius: 8px;
    
    cursor: pointer;
}
.btn-empty{
    color: $dark-grey;

    border: 1px solid $dark-grey;
}

.btn-green{
    background: $green;

    border: 1px solid $green;

    &:hover{
        background: $green-hover;

        border: 1px solid $green-hover;
    }
}