.ta-c{
    text-align: center;
}
.bg-orange{
    background: $orange;
}

.d-f{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.jc-around{
    justify-content: space-around;
}
.jc-end{
    justify-content: flex-end;
}

.mt-lg{
    margin-top: 60px;
}
.mt-md{
    margin-top: 30px;
}
.mt-sm{
    margin-top: 15px;
}
.ml-xs{
    margin-left: 5px;
}