// A

// B
$black: #000000;
$black-default: #343A40;
$black-3: #969696;

// C

// D

// E

// F

// G
$green-main: #069461;
$green-dark: #175540;
$green-hover: #057950;
$green-linea-gradient: linear-gradient(200.86deg, #069461 13.59%, #175540 77.13%);
$grey-main: #434343;
$grey-dark: rgba(0, 0, 0, 0.39);
$grey-2: #686868;
$grey-4: #848484;

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R

// S

// T

// W
$white: #FFFFFF;
$white-alternative: #F9F9F9;
$white-3: #F4F4F4;
$white-off: #EBEBEB;
$wireframe: #ded8cf40;

// X

// Y
$yellow: #FADC18;

// Z

