// A

// B
$black: #000000;
$black-default: #343A40;
$black-3: #969696;

// C

// D

// E

// F

// G
$green-default: #00FF97;

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R

// S

// T

// W
$white: #FFFFFF;
$white-alternative: #F9F9F9;
$white-3: #F4F4F4;
$white-off: #EBEBEB;
$wireframe: #ded8cf40;

// X

// Y
$yellow: #FADC18;

// Z

