// A

// B
$button-color: '';
$button-color-hover: '';

// C

// D

// E

// F
$font-family: 'serif';
$font-size-base: 16px;

// G

// H
$header-d-hgt: 130px;
$header-tl-hgt: 95px;
$header-tp-hgt: 95px;
$header-ml-hgt: 95px;
$header-mp-hgt: 95px;
$header-menu-hgt: 50px;

// I

// J

// K

// L

// M
$max-width: 1440px;

// N

// O

// P

// Q

// R
$ratio: 0;

// S
$screen-desktop: 1600px;
$screen-tablet-landscape: 1024px;
$screen-tablet-portrait: 740px;
$screen-mobile-landscape: 720px;
$screen-mobile-portrait: 480px;
$screen-mobile-portrait-short: 320px;

// T
$theme-color-1: $green-main;
$theme-color-2: $yellow;
$theme-color-3: '';
$theme-text-color-1: '';
$theme-text-color-2: '';
$theme-text-color-3: '';
$theme-link-color-1: '';
$theme-link-color-2: '';
$theme-link-color-3: '';
$theme-input-color-1: '';
$theme-input-color-2: '';
$theme-input-color-3: '';
$theme-button-color-1: '';
$theme-button-color-2: '';
$theme-button-color-3: '';

// W

// X

// Y

// Z
