.header-bottom{
    width: 100%;
    background-color: $grey;
    justify-content: space-between;
    align-items: center;

    &__title{
        margin: 32px 0;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    .button-second{
        background: $grey;
        border: 1px solid #FFFFFF;
        border-radius: 8px;
        padding: 3px;
    
        &:hover {
            background: $grey-hover;
        }
    
        svg {
            width: 20px;
            height: 20px;
        }
    }

    .button-second.active{
        border-color: $green;

        svg{

            path{
                fill: $green;
            }
        }
    }

}