.header-top{
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: $grey;

    &__logo{
        @extend .col-xs-2;
    }

    .input-text-component{
        position: relative;
        margin: 0;

        @extend .col-xs-5;

        &::after{
            content:url('../../img/icons/search.svg');
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }

    .profile-header{
        @extend .col-xs-2;
        @extend .col-xs-offset-3;
    }
}