.header-bottom{
    flex-direction: column;
    width: 100%;
    background-color: $grey;
    justify-content: space-between;

    &__title{
        margin: 32px 0;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    &__content{
        align-items: end;
        justify-content: space-between;

        ul {

            li{
                margin-right: 32px;
                font-size: 16px;
                font-weight: 300;
                color: white;
                padding-bottom: 10px;
                cursor: pointer;
                border-bottom: solid 2px transparent;

                &:hover{
                    color: $green;
                    border-bottom-color: $green;
                }
            }
        }

        .buttons{
            margin-bottom: 10px;

            .small-button{
                margin-right: 32px;
            }

            .button-second{
                color: white;
                background: $grey;
                border: 1px solid #FFFFFF;
                border-radius: 8px;
                padding: 3px;
    
                &:hover {
                    background: $grey-hover;
                }
    
                img {
                    width: 20px;
                }
            }

        }
    }
}