.admin-view{

    .admin-header{
        position: fixed;
        top: 0;
        width: 100%;
    }

    .competences-popup{
        z-index: 1;
        padding: 20px;
        border-radius: 8px;
        position: fixed;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .label{
            color: $black;
        }
    
        .input-custom-competence{
            &:focus{
                outline: none;
            }
    
            border-bottom: 1px solid $black !important;
            border: 0;
            border-radius: 0;
            margin-bottom: 15px;
            padding: 5px 0;
            width: 100%;
        }
    
        .select-custom-competence{
    
            &:focus{
                outline: none;
            }
    
            width: 100%;
        }
        .create-competence-btn{
    
            margin-left: 10px; 
        }
    }
    
    .admin-aside{
        position: fixed;
        right: 0;
        width: 0;
        height: 100vh;
        overflow-x: hidden;
        transition: .5s;
    }

    .admin-aside.open{
        width: 224px;
    }

    .admin-content{
        margin-top: 168px;
        padding-top: 24px;
        transition: margin-right .5s;

        &__load{
            margin: auto;
            width: 15em;
            -webkit-animation: rotation 6s infinite linear;
            animation: rotation 6s infinite linear;
            @-webkit-keyframes rotation {
                0% {-webkit-transform: rotate(0deg);}
                12.5%, 25% {-webkit-transform: rotate(90deg);} 
                37.5%, 50% {-webkit-transform: rotate(180deg);} 
                62.5%, 75% {-webkit-transform: rotate(270deg);} 
                87.5%, 100% {-webkit-transform: rotate(360deg);}
            }

            @keyframes rotation {
                0% {-webkit-transform: rotate(0deg);}
                12.5%, 25% {-webkit-transform: rotate(90deg);} 
                37.5%, 50% {-webkit-transform: rotate(180deg);} 
                62.5%, 75% {-webkit-transform: rotate(270deg);} 
                87.5%, 100% {-webkit-transform: rotate(360deg);}
            }
        }

        &__loadText{
            margin-top: 20px;
            text-align: center;
        }

        &__number{
            font-weight: bold;
            font-size: 16px;
        }

        &__cards{
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

            .profile-card{
                margin-top: 24px;
                margin-right: 32px;
            }
        }
    }

    .admin-content.open{
        margin-right: 224px
    }
}