.edit-profile{
    cursor: pointer;
}

.profile-image{
    width: 117px;
    height: 117px;

    border-radius: 8px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form{

    .label{
        color: $light-grey;

        margin-bottom: 5px;

        display: block;
    }

    .input-custom, .textarea{
        pointer-events: none;

    }

    .input-custom{

        width: 100%;

        margin-bottom: 15px;

        border: 0;
        border-radius: 0;

        padding: 5px 0;
    }

    .chars-left{
        display: none;
    }

    .textarea{
        width: calc(100% - 20px);

        resize: none;

        background: $very-light-grey;
        border: 1px solid $grey;

        min-height: 50px;

        padding: 10px;
    }
}

.competences-item{
    width: 159px;
    height: 159px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $very-light-grey;

    border-radius: 8px;

    box-shadow: 0px 4px 14px rgba(169, 169, 169, 0.25);

    margin-top: 15px;
    margin-right: 15px;

    .name{
        font-size: 16px;
        font-weight: 700;

        margin-bottom: 5px;
    }
    .type{
        font-size: 12px;
    }

    &.new{
        justify-content: center;
        align-items: center;

        border-radius: 4px;

        box-shadow: none;

        cursor: pointer;

        display: none;
    }
}

.overlay{
    z-index: 0;

    background: rgba(0,0,0,.5);
    
    width: 100%;
    height: 100%;

    position: fixed;

    top: 0;
    left: 0;
}
.competences-popup{
    z-index: 1;

    padding: 20px;
    border-radius: 8px;

    position: fixed;

    background: white;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .label{
        color: $black;
    }

    .input-custom-competence{

        &:focus{
            outline: none;
        }

        border-bottom: 1px solid $black !important;

        border: 0;
        border-radius: 0;

        margin-bottom: 15px;

        padding: 5px 0;

        width: 100%;
    }

    .select-custom-competence{

        &:focus{
            outline: none;
        }

        width: 100%;
    }
    .create-competence-btn{

        margin-left: 10px; 
    }
}

.validate{
    display: none;
}


/*
|
| EDITING
|
*/

.editing{
    .input-custom, .textarea{
        pointer-events: all;

        &:focus{
            outline: none;
        }
    }

    .chars-left{
        display: block;
    }

    .input-custom{
        border-bottom: 1px solid $black;
    }

    .competences-item{
        &.new{
            display: block;
        }
    }
    .validate{
        display: block;
    }
}