.sign-in-view2{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    text-align: center;

    .sign-header{
        align-items: center;
        justify-content: center;
        width: 100%;

        .small-button{
            position: absolute;
            left: 50px;
            width: 48px;
            height: 48px;
        }

        &__title{
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .sign-form{
        margin-top: 75px;
        width: 352px;

        .button-component{
            width: 100%;
            margin-top: 100px;
        }
    }
}